.regform{
    margin: 20% 45% 20% 38%;
    padding-left: 3%;
    padding: 3% 2% 3% 2%;
    background-color: #f8fafb;
    width: 30%;
    opacity: 0.8;
    border-radius: 20px;
    
   
    
    
}
.name{
    margin-bottom: 2%;
}
.age{
    margin-bottom: 2%;
}
.mail{
    margin-top: 2%;
}
.add{
    margin-top: 2%;
    margin-bottom: 2%;
}

.formbg{
    background-image: url(images/formbg/formbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}